.navbar {
    min-height: 80px;
    text-align: center;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); 
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
  }
  
  .nav-link{
    font-size: 25px;
    float: right;
    margin-left: 90px;
  
  }
  
  