/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */

 @import url(https://fonts.googleapis.com/css?family=Noto+Sans);

 /* -------------------------------------
  * allActivities
  * ------------------------------------- */

 .allActivities{
  max-width: 1200px;
  padding: 0 5%;
  font-family: "Noto Sans", sans-serif;
  color: #837EAD;
  margin-left: 20%;
  padding-top: 5%;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
 }



 /* -------------------------------------
  * timeline
  * ------------------------------------- */
 .timeline {
   list-style: none;
   margin: 50px 0 30px 420px;
   padding-left: 30px;
   border-left: 8px solid #C1BDC9;
 }
 .timeline >li {
   margin: 40px 0;
   position: relative;
 }
 .timeline >p {
   margin: 0 0 15px;
 }
 
 .date {
  margin-top: -1.5%;
   top: 50%;
   left: -8%;
   font-size: 0.95em;
   line-height: 20px;
   position: absolute;
 }
 
 .circle {
   margin-top: -10px;
   top: 50%;
   left: -39px;
   width: 10px;
   height: 10px;
   background: #636363;
   border: 5px solid #636363;
   border-radius: 50%;
   display: block;
   position: absolute;
 }
 
 .contents {
   max-height: 20px;
   padding: 50px 20px 0;
   border-color: transparent;
   border-width: 2px;
   border-style: solid;
   border-radius: 0.5em;
   position: relative;
 }
 .contents:before, .contents:after {
   content: "";
   width: 0;
   height: 0;
   border: solid transparent;
   position: absolute;
   pointer-events: none;
   right: 100%;
 }
 .contents:before {
   border-right-color: inherit;
   border-width: 20px;
   top: 50%;
   margin-top: -20px;
 }
 .contents:after {
   border-right-color: #636363;
   border-width: 17px;
   top: 50%;
   margin-top: -17px;
 }
 .contents >p {
   max-height: 0;
   color: transparent;
   text-align: justify;
   word-break: break-word;
   hyphens: auto;
   overflow: hidden;
 }
 
 .relative >label {
   font-size: 1.3em;
   position: absolute;
   z-index: 100;
   cursor: pointer;
   top: 20%;
   margin-left: -40%;
   margin-right: -10%;
   transition: transform 0.2s linear;
 }
 
 .radio {
   display: none;
 }
 
 .radio:checked + .relative >label {
   cursor: auto;
   transform: translateX(42px);
 }
 .radio:checked + .relative .circle {
   background: #f98262;
 }
 .radio:checked ~ .contents {
   max-height: 180px;
   border-color: #636363;
   margin-right: 20px;
   transform: translateX(-10px);
   transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
 }
 .radio:checked ~ .contents >p {
   max-height: 200px;
   color: #3C155D;
   transition: color 0.3s linear 0.3s;
 }
 
 /* -------------------------------------
  * mobile phones (vertical version only)
  * ------------------------------------- */
 @media screen and (max-width: 767px) {
   .timeline {
     margin-left: 0;
     padding-left: 0;
     border-left: none;
   }
   .timeline >li {
     margin: 50px 0;
   }
 
   .relative >label {
     width: 85%;
     font-size: 1.1em;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     display: block;
     transform: translateX(18px);
   }
 
   .contents {
     padding-top: 45px;
     border-color: #eee9dc;
   }
   .contents:before, .contents:after {
     border: solid transparent;
     bottom: 100%;
   }
   .contents:before {
     border-bottom-color: inherit;
     border-width: 17px;
     top: -16px;
     left: 50px;
     margin-left: -17px;
   }
   .contents:after {
     border-bottom-color: #636363;
     border-width: 20px;
     top: -20px;
     left: 50px;
     margin-left: -20px;
   }
   .contents > p {
     font-size: 0.9em;
     line-height: 1.4;
   }
 
   .circle, .date {
     display: none;
   }
 }
 